.root {
  line-height: calc(var(--yr) * 6);
}

.a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  padding: calc(var(--yr) * 2) 0;
}
